.auth-body-box {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;

  .auth-body-box-wrapper {
    max-width: 800px;
    width: 100%;

    .auth-body-tab-list-box {
      border-bottom: 1px;
      border-color: var(--secondary-border);
      margin-bottom: 15px;
      width: 100%;
    }

  }

  .auth-body-tab-panel {
    padding: 0;
    width: 100%;
  }

}